{% extends 'mall/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ item.item_name }} - IP Mall Item
{% endblock %}
{% block main_area %}
                    <!-- Post content-->
                    <div id="item-area">
                        <!-- Post header-->
                        <header class="mb-4">
                            {% if item.category %}
                                <span class="badge bg-secondary float-right">{{ item.category }}</span>
                            {% else %}
                                <span class="badge bg-secondary float-right">미분류</span>
                            {% endif %}

                            {% if item.maker %}
                                <span class="badge bg-warning float-right" style="margin:0px 10px">{{ item.maker }}</span>
                            {% else %}
                                <span class="badge bg-warning float-right" style="margin:0px 10px">No Maker</span>
                            {% endif %}

                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ item.item_name }}</h1>
                            <!-- Post meta content-->
                            <div class="small text-primary" style="font-size:1.5em">
                                {{ item.item_price }} 원
                                {% if user.is_authenticated %}
                                    {% if user.is_staff or user.is_superuser %}
                                        <a href="/mall/update_item/{{ item.pk }}/"
                                           class="btn btn-info btn-sm float-right">
                                            <i class="fas fa-pen"></i>&nbsp;Edit Item
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            {% if item.item_image %}
                                <img class="img-fluid rounded" src="{{ item.item_image.url }}" alt="{{ item.item_name }}의 item image" />
                            {% else %}
                                <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ item.id }}/800/200" alt="random image" />
                            {% endif %}
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p>{{ item.get_content_markdown | safe }}</p>
                            {% if user.is_authenticated %}
                                {% if user.is_staff or user.is_superuser %}
                                    <span class="small text-muted float-right">{{ item.author }}에 의해 등록된 상품</span>
                                {% endif %}
                            {% endif %}
                            <div class="small text-muted">사이즈 : {{ item.item_size }} &nbsp;&nbsp;&nbsp;&nbsp; 소재 : {{ item.item_material }}</div>
                        </section>
                    </div>
                    <!-- Comments section-->
                    <div class="mb-5" id="comment-area">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                    <form class="mb-4" id="comment-form" method="POST" action="{{ item.get_absolute_url }}new_comment/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ comment_form | crispy }}
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                {% else %}
                                    <a role="button" class="btn btn-outline-dark" href="#"
                                        data-toggle="modal" data-target="#loginModal">
                                        Log In and leave a comment</a>
                                {% endif %}

                                {% if item.comment_set.exists %}
                                    {% for comment in item.comment_set.all %}
                                        <!-- Single comment-->

                                        {% if user.is_authenticated and comment.author == user %}
                                            <a role="button" class="btn btn-sm btn-info float-right"
                                               id="comment-{{ comment.pk }}-update-btn" href="/mall/update_comment/{{ comment.pk }}/">
                                                edit
                                            </a>
                                        {% endif %}

                                        <div class="d-flex" id="comment-{{ comment.pk }}">
                                            <div class="flex-shrink-0">
                                                <img class="rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px" />
                                            </div>
                                            <div class="ms-3">
                                                <div class="fw-bold">{{ comment.author.username }} &nbsp;&nbsp;&nbsp;
                                                    <small class="text-muted">({{ comment.created_at }})</small></div>
                                                <p>{{ comment.content | linebreaks }}</p>

                                                {% if comment.created_at != comment.modified_at %}
                                                    <p class="text-muted"><small>Updated : {{ comment.modified_at }}</small></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock %}
